.orderDetailsPage {
    background-color: #fff;
}

.orderDetailsContainer > h1 {
    font: 300 3vmax "Roboto";
    margin: 4vmax 0;
    color: tomato;

}

.orderDetailsContainer{
    padding: 5vmax;
    padding-bottom: 0;
}

.orderDetailsContainer > p {
    font: 400 1.8vmax "Roboto";
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
    margin: 2vmax;
}


.orderDetailsContainerBox  > div {
    display: flex;
    margin: 1vmax 0;
}


.orderDetailsContainerBox > div > p {
    font: 600 1vmax "Roboto";
    color: black;
}

.orderDetailsContainerBox > div > span {
    margin: 0 1vmax;
    font: 100 1vmax "Roboto";
    color: #575757;
}

.orderDetailsCartItems > p {
    font: 400 1.8vmax "Roboto";
}

.orderDetailsCartItems {
    padding: 2vmax 5vmax;
    border-top: 1px solid rgba(0, 0, 0,.164);
}

.orderDetailsCartItemsContainer {
    max-height: 20vmax;
    overflow-y: auto;
}

.orderDetailsCartItemsContainer > div {
    display: flex;
    font: 400 1vmax "Roboto";
    justify-content: space-between;
    align-items: center;
    margin: 2vmax 0;
}

.orderDetailsCartItemsContainer > div > img {
    width: 3vmax;
}

.orderDetailsCartItemsContainer > div > a  {
    width: 60%;
    text-decoration: none;
}

.orderDetailsCartItemsContainer > div > span {
    font: 100 1vmax "Roboto";
    color: #5e5e5e;
}



@media screen and (max-width: 600px){

    .orderDetailsContainer > p {
        font: 400 6vw "Roboto";
    }

    .orderDetailsContainerBox > div {
        display: flex;
        margin: 6vw 0;
    }

    .orderDetailsContainerBox > div > p {
        font: 400 4vw "Roboto";
    }

    .orderDetailsContainerBox > div > span {
        font: 400 4vw "Roboto";
    }

    .orderDetailsContainerBox > p {
        font: 400 6vw "Roboto";
    }

    .orderDetailsCartItemsContainer { 
        max-height: 50vw ;
    }

    .orderDetailsCartItemsContainer > div {
        font: 400 4vw "Roboto";
        margin: 4vw 0;
    }

    .orderDetailsCartItemsContainer > div > img {
        width: 10vw;
    }

    .orderDetailsCartItemsContainer > div > a {
        margin: 0;
        width: 30%;
    }

    .orderDetailsCartItemsContainer > div > span {
        font: 100 4vw "Roboto";
    }

}